<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc">

        <bean id="stu" class="com.joc.Student">
            <property name="sid" value="123"/>
            <property name="sname" value="Srinivas"/>
            <property name="fees" value="50000f"/>
        </bean>

    <bean id="emp" class="com.joc.Employee">
        <property name="empid" value="123"/>
        <property name="ename" value="Srinivas"/>
        <property name="esalary" value="25000.1234f"/>
    </bean>

    <bean id="f" class="com.joc.Faculty">
        <property name="fid" value="100"/>
        <property name="fname" value="Sagar"/>
        <property name="salary" value="45000.45f"/>
        <property name="add" ref="ad"/>
    </bean>

    <bean id="ad" class="com.joc.Address">
        <property name="hno" value="61"/>
        <property name="city" value="Bangaluru"/>
        <property name="state" value="Ka"/>
    </bean>

    <bean id="qu" class="com.joc.Question">
        <property name="qid" value="1"/>
        <property name="qname" value="What is ?"/>
        <property name="answer">
            <list>
                <value>Java is OOPS</value>
                <value>Plateform Independent</value>
                <value>Java is Robust</value>
                <value>Java is Simple</value>
            </list>
        </property>
    </bean>

    <bean id="map" class="com.joc.MapEx">
        <property name="id" value="112"/>
        <property name="mp">
            <map>
                <entry key="What is Java ?" value="I dont Know"/>
                <entry key="What is SQL ?" value="Structured Query Language"/>
                <entry key="What is HTML ?" value="Hyper Text Markup Language"/>
                <entry key="What is Spring ?" value="Spring is a Frame"/>
            </map>
        </property>
    </bean>

    <bean id="st" class="com.joct.Student">
        <constructor-arg value="111" type="int"/>
        <constructor-arg value="DEF" type="String"/>
        <constructor-arg value="75000"/>
        <constructor-arg ref="aa"/>
    </bean>
    <bean id="aa" class="com.joct.Address">
        <constructor-arg value="614"/>
        <constructor-arg value="Bangalore"/>
        <constructor-arg value="KA"/>
    </bean>

    <bean id="q" class="com.joct.Question">
        <constructor-arg value="112"/>
        <constructor-arg value="What is Spring"/>
        <constructor-arg>
            <list>
                <value>Spring is Opensource</value>
                <value>Spring is Non Invasive</value>
                <value>Spring is Modular Framework</value>

            </list>
        </constructor-arg>
    </bean>


</beans>